// topic posts-map
.topic-post {
  margin-bottom: 16px !important;
}

// topic list overrides
.topic-list>tbody>tr:first-of-type {
  border-top: 1px solid #D2D7DC !important;
}

.topic-list>tbody>tr {
  border-bottom: 1px solid #D2D7DC !important;
}

.topic-list-main-link, .topic-list .main-link {
  font-size: 1rem !important;
}

.topic-list .posts-map {
  font-size: 1rem !important;
}

.topic-status-info {
  border-top: 1px solid transparent !important;
}

.small-action {
  border-top: 1px solid transparent !important;
}

// topic progress bar
#topic-progress {
  border-right: 1px solid #DEEFFF !important;
  background-color: #DEEFFF !important;
  color: #005FB9 !important;
}

// topic body
.topic-body {
  padding: 12px !important;
  background: #fff !important;
  border-radius: 4px !important;
  margin-left: 8px !important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.07) !important;
  border: 1px solid #dcdcde !important;

  .reply-to-tab a:hover {
    text-decoration: none !important;
  }
}

.topic-avatar {
  border-top: 1px solid transparent !important;
}

// topic map box
.topic-map section {
  border-top: 1px solid #D2D7DC !important;
}

.topic-map .buttons .btn {
  background: #F5F6F7;
  border-left: 1px solid #D2D7DC !important;
}

// compose message
.open .grippie {
  background: #008255 !important;
}

// category list
.category-list tbody tr:first-of-type {
  border-top: 1px solid #D2D7DC !important;
}

.category-list tbody tr {
  border-bottom: 1px solid #D2D7DC !important;
}

.table-heading {
  border-bottom: 1px solid #D2D7DC !important;
}

.latest-topic-list-item {
  border-bottom: 1px solid #D2D7DC !important;
}
